@model LaylaERP.Models.clsUserDetails
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@*<div>
        <form action="">
            <select name="bulkaction" id="bulkactions">
                <option value="0">Bulk Action</option>
                <option value="1">Delete</option>
            </select>
            <br>
            <input type="submit" value="Apply">
        </form>

        <select name="userrole" id="userrole">
            <option value="0">Select User Role</option>
            <option value="1">Administrator</option>
            <option value="1">Mod Squad</option>
        </select>

        <select name="useractivate" id="useractivate">
            <option value="0">Active</option>
            <option value="1">InActive</option>
        </select>


    </div>
    <br>
    <br>
    <table id="data-table" class="table table-striped table-bordered nowrap" width="100%">
        <tr>
            <th><input name="select_all" value="1" type="checkbox"> All</th>
            <th>UserID</th>
            <th>UserName</th>
            <th>Role</th>
            <th>Status</th>
            <th>Email</th>
        </tr>
        <tr>
            <td><input type="checkbox" name="name1" /></td>
            <td>1</td>
            <td>david</td>
            <td>Administrator</td>
            <td>Active</td>
            <td>david.quickfix1@gmail.com</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="name1" /></td>
            <td>2</td>
            <td>david002</td>
            <td>Administrator</td>
            <td>Active</td>
            <td>david2.quickfix1@gmail.com</td>
        </tr>
    </table>

    <style>
        table {
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: #eee;
        }

        tr:nth-child(odd) {
            background-color: #fff;
        }

        th {
            background-color: orange;
            color: white;
        }
    </style>*@

@*@using (Html.BeginForm("Users", "Users", FormMethod.Post)) { }*@
<div class="page-title">
        <h2 class="page-heading">Users</h2>
        <a href="../../Users/AddNewUser" class="page-title-action">Add New</a>
        @*<select id="ddlStatus" placeholder="Select User">
                <option value="0">Active</option>
                <option value="1">InActive</option>
            </select>*@
    </div>
    <div class="user_subCrumbs">
        <ul>
            <li class="all"><a href="#" id="all" class="current" aria-current="page">All <span class="count">(@ViewBag.all)</span></a> |</li>
            <li class="accounting"><a href="#" id="accounting">Accounting <span class="count">(@ViewBag.accounting)</span></a> |</li>
            <li class="administrator"><a href="#" id="administrator">Administrator <span class="count">(@ViewBag.admin)</span></a> |</li>
            <li class="author"><a href="#" id="author">Author <span class="count">(@ViewBag.author)</span></a> |</li>
            @*<li class="customer"><a href="#">Customer <span class="count">(@ViewBag.customer)</span></a> |</li>*@
            <li class="modsquad"><a href="#" id="modsquad">Mod Squad <span class="count">(@ViewBag.modsquad)</span></a> |</li>
            <li class="shop_manager"><a href="#" id="shopmanager">Shop manager <span class="count">(@ViewBag.shopmanager)</span></a> |</li>
            <li class="subscriber"><a href="#" id="subscriber">Subscriber <span class="count">(@ViewBag.subscriber)</span></a> |</li>
            <li class="supplychainmanager"><a href="#" id="supplychainmanager">Supply Chain Manager <span class="count">(@ViewBag.supplychainmanager)</span></a> |</li>
            <li class="wpseo_editor" id="seo"><a href="#">SEO Editor <span class="count">(@ViewBag.seoeditor)</span></a> |</li>
            <li class="none" id="norole"><a href="#">No role <span class="count">(@ViewBag.norole)</span></a></li>
        </ul>
    </div>
    <div>
        <p id="selectStatus"><label><b class="sm-heading">Status</b></label></p>
    </div>
    <section class="content section-content">
        <div class="user-top-section">
            @*<div class="user-search-box">
                    <input type="search" id="user-search-input" name="s" value="">
                    <input type="submit" id="search-submit" class="button" value="Search Users">
                </div>*@
            <div class="tablenav top">
                <div class="alignleft actions bulkactions">
                    <select name="action" id="ddlStatus">
                        <option value="1">Bulk actions</option>
                        <option value="2">Active</option>
                        <option value="3">InActive</option>
                    </select>
                    <input type="submit" id="btnApply" class="button action" value="Apply">
                </div>
                <div class="alignleft actions">
                    <select name="new_role" id="new_role">
                        <option value="">Change role to…</option>
                        <option value="wpseo_editor">SEO Editor</option>
                        <option value="wpseo_manager">SEO Manager</option>
                        <option value="supplychainmanager">Supply Chain Manager</option>
                        <option value="subscriber">Subscriber</option>
                        <option value="shop_manager">Shop manager</option>
                        <option value="modsquad">Mod Squad</option>
                        <option value="editor">Editor</option>
                        <option value="customer">Customer</option>
                        <option value="contributor">Contributor</option>
                        <option value="author">Author</option>
                        <option value="administrator">Administrator</option>
                        <option value="accounting">Accounting</option>
                    </select>
                    <input type="submit" name="changeit" id="changeit" class="button" value="Change">
                </div>
                <input type="hidden" name="varpass" id="varpass" value="">
                @*<div class="tablenav-pages">
            <span class="displaying-num">61,641 items</span>
            <span class="pagination-links">
                <span class="tablenav-pages-navspan button disabled" aria-hidden="true">«</span>
                <span class="tablenav-pages-navspan button disabled" aria-hidden="true">‹</span>
                <span class="paging-input">
                    <input class="current-page" id="current-page-selector" type="text" name="paged" value="1" size="4" aria-describedby="table-paging">
                    <span class="tablenav-paging-text"> of <span class="total-pages">3,083</span></span>
                </span>
                <a class="next-page button" href="http://173.247.242.204/~rpsisr/woo/wp-admin/users.php?paged=2"><span aria-hidden="true">›</span></a>
                <a class="last-page button" href="http://173.247.242.204/~rpsisr/woo/wp-admin/users.php?paged=3083"><span aria-hidden="true">»</span></a>
            </span>
        </div>*@
                <br class="clear">
            </div>
        </div>
        <div class="dx-viewport demo-container data-table-container">
            <div id="gridContainer" class="margin-15-rem">
                <table id="dtdata" class="table table-bordered table-striped dataTable check-table" style="width:100%;">
                    <thead class="thead-dark">
                        <tr>
                            <th><input type="checkbox" name="checkAll" id="checkAll"><label></label></th>
                            <th>ID</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts{

    <script type="text/javascript">
        var j = "";
        $(document).ready(function () {
            //$("#ddlStatus").change(function () {
            //    alert($("#ddlStatus").val());
            //    drop();
            //    Datagrid(); return false; /Users/GetData
            //});
            Datagrid();
        });

        function Datagrid(k) {
            //
            var myvalue = k;
            //var obj = { rolepass: j };
            //alert(JSON.stringify(obj));
            var id;
            $('#dtdata').DataTable({
                destroy: true,
                bAutoWidth: false,
                "ajax": {
                    "url": '/Users/GetData',
                    "type": 'GET',
                    "dataType": 'json',
                    data: { rolepass: j },
                    contentType: "application/json; charset=utf-8",

                },
                lengthMenu: [[10, 20, 50, 100], [10, 20, 50, 100]],

                "columns": [
                    {
                        'data': 'ID', sWidth: "5%",
                        'render': function (data, type, full, meta) {
                            return '<input type="checkbox" name="CheckSingle" id="CheckSingle" onClick="Singlecheck();" value="' + $('<div/>').text(data).html() + '"><label></label>';
                        }
                    },
                    { 'data': 'ID', 'sWidth': "5%" },
                    { 'data': 'user_login', 'sWidth': "20%" },
                    { 'data': 'user_email', 'sWidth': "20%" },
                    { 'data': 'user_status', 'sWidth': "20%" },
                    { 'data': 'my', 'sWidth': "20%" },
                    {
                        'data': 'ID', sWidth: "8%",
                        'render': function (ID, type, full, meta) {
                            return '<a href="../Users/UserDetails?id=' + ID + '"><i class="glyphicon glyphicon-pencil"></i></a>'
                        }
                    }
                ],

                columnDefs: [{
                    orderable: false,
                    targets: [0]
                }],
                //columnDefs: [{
                //    orderable: false,
                //    className: 'select-checkbox',
                //    targets: 0,
                //    'checkboxes': {
                //        'selectRow': true
                //    },
                //    data: ID,
                //    defaultContent: '',
                //}],
                //"select": {
                //    "style": 'multi',
                //    "selector": 'td:first-child'
                //},
                "order": [[1, 'desc']],


                initComplete: function () {
                    var column = this.api().column(4);
                    if (myvalue != 1) {
                        var select = $('<select class="filter"><option value="All">Select</option></select>')
                            .appendTo('#selectStatus')
                            .on('change', function () {
                                var val = $(this).val();
                                column.search(val ? '^' + $(this).val() + '$' : val, true, false).draw();
                                //column.search(val).draw()
                            });
                    }


                    var offices = [];
                    column.data().toArray().forEach(function (s) {
                        s = s.split(',');
                        s.forEach(function (d) {
                            if (!~offices.indexOf(d)) {
                                offices.push(d)
                                select.append('<option value="' + d + '">' + d + '</option>');
                            }
                        })
                    });
                }
                    /*
              column.data().unique().sort().each(function(d, j) {
                select.append('<option value="' + d + '">' + d + '</option>');
              });
             */
                

            });
        }

        function DatagridLoade(k) {
            //
            var myvalue = k;
            //var obj = { rolepass: j };
            //alert(JSON.stringify(obj));
            var id;
            $('#dtdata').DataTable({
                destroy: true,
                bAutoWidth: false,
                "ajax": {
                    "url": '/Users/GetData',
                    "type": 'GET',
                    "dataType": 'json',
                    data: { rolepass: j },
                    contentType: "application/json; charset=utf-8",

                },
                lengthMenu: [[10, 20, 50, 100], [10, 20, 50, 100]],

                "columns": [
                    {
                        'data': 'ID', sWidth: "5%",
                        'render': function (data, type, full, meta) {
                            return '<input type="checkbox" name="CheckSingle" id="CheckSingle" onClick="Singlecheck();" value="' + $('<div/>').text(data).html() + '"><label></label>';
                        }
                    },
                    { 'data': 'ID', 'sWidth': "5%" },
                    { 'data': 'user_login', 'sWidth': "20%" },
                    { 'data': 'user_email', 'sWidth': "20%" },
                    { 'data': 'user_status', 'sWidth': "20%" },
                    { 'data': 'my', 'sWidth': "20%" },
                ],

                columnDefs: [{
                    orderable: false,
                    targets: [0]
                }],
    
                "order": [[1, 'desc']],

               

            });
        };


 

//CheckBoxes
        $('#checkAll').click(function () {
            var isChecked = $(this).prop("checked");
            $('#dtdata tr:has(td)').find('input[type="checkbox"]').prop('checked', isChecked);
        });

        function Singlecheck() {
            var isChecked = $(this).prop("checked");
            var isHeaderChecked = $("#checkAll").prop("checked");
            if (isChecked == false && isHeaderChecked)
                $("#checkAll").prop('checked', isChecked);

            else {
                $('#dtdata tr:has(td)').find('input[type="checkbox"]').each(function () {
                    if ($(this).prop("checked") == false)
                        isChecked = false;
                });
                $("#checkAll").prop('checked', isChecked);
            }
        }

        $('#btnApply').click(function () {
            var id = "";
            var status = $("#ddlStatus").val();
            $("input:checkbox[name=CheckSingle]:checked").each(function () {
                id += $(this).val() + ",";

            });
            if (status == "1") {
                UpdateCustomerStatus();
            }
            if (status == "3") {
                id = id.replace(/,(?=\s*$)/, '');
                DeleteUsers(id);
                //dataGridLoad();
            }
            if (status == "2") {
               
                id = id.replace(/,(?=\s*$)/, '');
                ActiveUsers(id);
                //dataGridLoad();
            }
            $("input:checkbox[name=CheckSingle]:checked").each(function () {
                //alert("Id: " + $(this).attr("id") + " Value: " + $(this).val());
            });
        })
        $("#changeit").click(function () {
            var ID = "";
            var new_role = $("#new_role").val();
            $("input:checkbox[name=CheckSingle]:checked").each(function () {
                ID += $(this).val() + ",";

            });
            ID = ID.replace(/,(?=\s*$)/, '');
            changeRole(ID);
        })


        function DeleteUsers(id) {
            debugger
            var obj = { strVal: id }
            $.ajax({
                url: '/Users/DeleteUsers/', dataType: 'json', type: 'Post',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(obj),
                dataType: "json",
                success: function (data) {
                    if (data.status == true) {
                        swal('Alert!', data.message, 'success');
                    }
                    else {
                        swal('Alert!', data.message, 'error')
                    }
                },
                error: function (error) {
                    swal('Error!', 'something went wrong', 'error');
                },
            })
        }

        function ActiveUsers(id) {
           
            debugger
            var obj = { strVal: id }
          
            $.ajax({
                url: '/Users/ActiveUsers/', dataType: 'json', type: 'Post',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(obj),
                dataType: "json",
                success: function (data) {
                    if (data.status == true) {
                        swal('Alert!', data.message, 'success');
                        DatagridLoade();
                    }
                    else {
                        swal('Alert!', data.message, 'error')
                    }
                },
                error: function (error) {
                    swal('Error!', 'something went wrong', 'error');
                },
            })
        }


        function UpdateCustomerStatus() {
            var obj = { strVal: ID }
            $.ajax({
                url: '/Users/UpdateCustomer/', dataType: 'json', type: 'Post',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(obj),
                dataType: "json",
                success: function (data) {
                    if (data.status == true) {
                        swal('Alert!', data.message, 'success');
                    }
                    else {
                        swal('Alert!', data.message, 'error')
                    }
                },
                error: function (error) {
                    swal('Error!', 'something went wrong', 'error');
                },
            })
        }


       
        function changeRole(ID) {

            ID = ID;
            user_status = $("#new_role").val();
            var obj = {
                strVal: ID,
                user_status: user_status                 
            } 
            $.ajax({
                url: '/Users/changeRole/', dataType: 'json', type: 'Post',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(obj),
                dataType: "json",
                success: function (data) {
                    if (data.status == true) {
                        swal('Alert!', data.message, 'success');
                        DatagridLoade();
                    }
                    else {
                        swal('Alert!', data.message, 'error')
                    }
                },
                error: function (error) {
                    swal('Error!', 'something went wrong', 'error');
                },
            })
        }

       
//CheckBoxes End

        //Count Role Grid Show
        $('#all').click(function () {
            j = "";
            k = 1;
            Datagrid(k);
        });

        $('#administrator').click(function () {
            j = 'administrator';
            k = 1;
            // alert(j);
            Datagrid(k);

        });
        $('#accounting').click(function () {
            j = 'accounting';
            // alert(j);
            k = 1;
            Datagrid(k);
        });

        $('#author').click(function () {
            j = 'author';
            // alert(j);
            k = 1;
            Datagrid(k);
        });

        $('#modsquad').click(function () {
            j = 'modsquad';
            // alert(j);
            k = 1;
            Datagrid(k);
        });

        $('#shopmanager').click(function () {
            j = 'shop manager';
            // alert(j);
            k = 1;
            Datagrid(k);
        });

        $('#subscriber').click(function () {
            j = 'subscriber';
            // alert(j);
            k = 1;
            Datagrid(k);
        });

        $('#supplychainmanager').click(function () {
            j = 'supplychainmanager';
            // alert(j);
            k = 1;
            Datagrid(k);
        });

        $('#seo').click(function () {
            j = 'seoeditor';
            // alert(j);
            k = 1;
            Datagrid(k);
        });

        $('#norole').click(function () {
            j = 'norole';
            // alert(j);
            k = 1;
            Datagrid(k);
        });
      //Count Role Grid End



    </script>

    @*<script>
            function drop() {
                var urid = $("#ddlStatus").val();
                var obj = { user_status: urid };

                $.ajax({
                    url: '/Users/GetData/', dataType: 'json', type: 'Post',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(obj),
                    dataType: "json",
                    success: function (data) {
                        if (data.status == true) {

                            swal('Alert!', data.message, 'success');
                        }
                        else {
                            swal('Alert!', data.message, 'error')
                        }
                    },
                    error: function (error) {
                        swal('Error!', 'something went wrong', 'error');
                    },


                })
            }
        </script>*@
}
@*<script>
        var dataTable = document.getElementById('data-table');
        var checkItAll = dataTable.querySelector('input[name="select_all"]');
        var inputs = dataTable.querySelectorAll('tbody>tr>td>input');

        checkItAll.addEventListener('change', function () {
            if (checkItAll.checked) {
                inputs.forEach(function (input) {
                    input.checked = true;
                });
            }
            else {
                inputs.forEach(function (input) {
                    input.checked = false;
                });
            }
        });
    </script>*@