@model LaylaERP.Models.GiftCardModel

@{
    ViewBag.Title = "ordermeta";
}

<h2>ordermeta</h2>

<div>
    <h4>GiftCardModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.object_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.object_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gc_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gc_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gc_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gc_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_item_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_item_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recipient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recipient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.redeemed_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.redeemed_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sender_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sender_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remaining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remaining)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.template_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.template_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deliver_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deliver_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.delivered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delivered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expire_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expire_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.redeem_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.redeem_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_virtual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_virtual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.delivery_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delivery_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
