 
@{

    ViewBag.Title = "StateRecycleTax";
    //ViewBag.Title = "Fee & Tax";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!-- datatables CSS -->
<link href="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
<!-- datatables js -->
<script src="~/Content/AdminLTE-3.1.0/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
<div class="page-title">
    <h2 class="page-heading">State Recycle Tax</h2> <a class="btn btn-danger" href="CreateNewStateRecycleFee">Create State Recycle Fee</a>
</div>
<section class="content content-section p-0">
    <div class="col-sm-10">
        <div class="row">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="form-horizontal create-new-customer fee_tax-box">
                        <input type="hidden" id="hfid" value="@ViewBag.id" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label " for="StateRecycleFee ">State Recycle Fee </label>
                                    <div class="">
                                        <input type="text" id="StateRecycleFee" value="@Model.staterecyclefee" class="form-control" placeholder="State Recycle Fee " />
                                    </div>
                                </div>
                                @*<div class="form-group">
                                        <label class="control-label " for="Item_Parent_id">Item Parent Id</label>
                                        <div class="">
                                            <input type="text" id="Item_Parent_id" class="form-control" placeholder="Item Parent Id" />
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <label class="control-label " for="Item_Name">Item/Product Name</label>
                                    <div class="">
                                        <input type="text" id="Item_Name" value="@Model.item_name" class="form-control" placeholder="Item Name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label " for="ShipCity">Ship City</label>
                                    <div class="">
                                        <Select class="form-control" id="shipcity">
                                            <option></option>
                                            @*<option>Ship2 City</option>
                                                <option>Ship3 City</option>*@
                                        </Select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label " for="ShipState">Ship State</label>
                                    <div class="">
                                        <Select class="form-control" id="shipstate">
                                            <option></option>
                                            @*<option>Ship2 State</option>
                                                <option>Ship3 State</option>*@
                                        </Select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label " for="Ship_Zip_PostCode">ShipZip/PostCode</label>
                                    <div class="">
                                        <input type="text" id="Ship_Zip_PostCode" value="@Model.zip" class="form-control" placeholder="ShipZip/PostCode" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label " for="ShipState">Ship Country</label>
                                    <div class="">
                                        <Select class="form-control" id="shipcountry">
                                            <option>Ship1 Country</option>
                                            <option>Ship2 Country</option>
                                            <option>Ship3 Country</option>
                                        </Select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="text-right">
                        <input type="submit" value="Submit" id="btnsave" class="btn btn-danger" />
                        @*<input type="button" value="Show" onclick="DatagridLoade()" class="btn btn-danger" />*@
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <table id="dtdata" class="table-blue table check-table table-bordered table-striped dataTable " width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>State Recycle Fee</th>
                                <th>Item/Product Name</th>
                                <th>Ship City</th>
                                <th>Ship State</th>
                                <th>ShipZip/PostCode</th>
                                <th>Ship Country</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>


    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
    <script src="~/FeeNTax/FeeNTax.js"></script>
    <script src="@Url.Content("~/js/FeeNTax/FeeNTax.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>
    <script>

        $(document).ready(function () {

            $('#dtdata').dataTable();
           debugger
           $.ajax({
                type: "GET",
                url: "/FeeNTax/GetFeeNTaxList",
                contentType: "application/json; charset=utf-8",
                data: "{}",
                dataType: "json",
                success: function (data) {
                    debugger
                    console.log(data);
                    $.each(data, function (key, i) {
                        $("#dtdata").append("<tr><td>" + i.id + "</td><td>" + i.staterecyclefee + "</td><td>" + i.state + "</td><td>" + i.item_name + "</td><td>" + i.city + "</td><td>" + i.zip + "</td><td>" + i.country + "</td><td><a href='/FeeNTax/StateRecycleTax/" + i.id + "'>Edit</a></td></tr>");
                    });

                },
                error: function (result) {
                    alert("Error");
                }
            });

        })

        $(document).ready(function () {
            debugger
            var id = @ViewBag.id;
            if(id> 0){
                GetFeeNTaxByID(id);
            }

           //datagridLoad();



            $.get('/Users/GetCity', function (data) {
                debugger

                var Ct = $("#hfCity").val();
                $.each(data, function (index, value) {
                    if (Ct == value)
                        $('<option selected>').val(value).text(value).appendTo("#shipcity");
                    else
                        $('<option>').val(value).text(value).appendTo("#shipcity");
                })
            })
            //txtState
            $.get('/Users/GetState', function (data) {
                debugger

                var st = $("#hfState").val();
                $.each(data, function (index, value) {
                    if (st == value)
                        $('<option selected>').val(value).text(value).appendTo("#shipstate");
                    else
                        $('<option>').val(value).text(value).appendTo("#shipstate");
                })
            })


            $(document).on('click', "#btnsave", function () {
                debugger
                AddFeeNTax();
            })



            function getdatazip() {
                var Postcode = $("#Ship_Zip_PostCode").val();
                $.ajax({
                    url: "https://ziptasticapi.com/" + Postcode,
                    type: "GET",
                    dataType: 'JSON',
                    data: [],
                    success: function (data) {
                        /*    $("#txtCountry").val(data.country);*/
                        $("#shipstate").val(data.state);
                        $("#shipcity").val(data.city);
                    },
                    error: function (msg) { alert(msg); }
                });

            }
        });
    </script>
</section>
