
@{ ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml"; }

<div class="row d-flex align-items-center dashboard-dropy">
    <div class="col-xs-6">
        <div class="page-title">
            <h2 class="page-heading gs-open">
                Dashboard
                <span class="sub-heading">
                    <time datetime="2021-05-24">Mon, May 26, 2021</time> - <time datetime="2021-05-30">Sun, May 26, 2021</time>
                </span>
            </h2>
        </div>
    </div>
    <div class="col-xs-6 col-drop-dash">
        <div class="dropdown item pull-right">
            <a aria-expanded="true" aria-haspopup="true" class="dropdown-toggle btn btn-default manage-wig-dash" data-toggle="dropdown" href="#">Manage widgets</a>
            <ul class="dash-drop-menu dropdown-menu dropdown-menu-right widget-dropdown toggling-dropdown">
                <li class="dropdown-header">Small widgets</li>
                <li data-widget="earned_week" data-widget-style="small" class="is-on"><a class="d-flex icon-link" href="#">Earned this week</a></li>
                <li data-widget="earned_today" data-widget-style="small"><a class="d-flex icon-link" href="#">Earned today</a></li>
                <li data-widget="projects_worked" data-widget-style="small" class="is-on"><a class="d-flex icon-link" href="#">Projects worked</a></li>
                <li data-widget="today_activity" data-widget-style="small"><a class="d-flex icon-link" href="#">Today's Activity</a></li>
                <li data-widget="activity" data-widget-style="small" class="is-on"><a class="d-flex icon-link" href="#">Weekly Activity</a></li>
                <li data-widget="this_week_total" data-widget-style="small" class="is-on"><a class="d-flex icon-link" href="#">Worked this week</a></li>
                <li data-widget="worked_today" data-widget-style="small"><a class="d-flex icon-link" href="#">Worked today</a></li>
                <li class="li-hr"></li>
                <li class="dropdown-header">Large widgets</li>
                <li data-widget="apps_urls" data-widget-style="large" class="is-on"><a class="d-flex icon-link" href="#">Apps &amp; URLs</a></li>
                <li data-widget="missed_shifts" data-widget-style="large"><a class="d-flex icon-link" href="#">Late &amp; Missed Shifts</a></li>
                <li data-widget="manual_time_log" data-widget-style="large"><a class="d-flex icon-link" href="#">Manual Time</a></li>
                <li data-widget="past_payments" data-widget-style="large"><a class="d-flex icon-link" href="#">Payments</a></li>
                <li data-widget="projects" data-widget-style="large" class="is-on"><a class="d-flex icon-link" href="#">Projects</a></li>
                <li data-widget="my_recent_activity" data-widget-style="large" class="is-on"><a class="d-flex icon-link" href="#">Recent activity</a></li>
                <li data-widget="this_week" data-widget-style="large" class="is-on"><a class="d-flex icon-link" href="#">This week</a></li>
                <li data-widget="time_off_balances" data-widget-style="large"><a class="d-flex icon-link" href="#">Time off balances</a></li>
                <li data-widget="time_off_requests" data-widget-style="large"><a class="d-flex icon-link" href="#">Time off requested</a></li>
                <li data-widget="timesheet" data-widget-style="large" class="is-on"><a class="d-flex icon-link" href="#">Timesheet</a></li>
                <li data-widget="tasks" data-widget-style="large" class="is-on"><a class="d-flex icon-link" href="#">To-dos</a></li>
            </ul>
        </div>
    </div>
</div>


<!--dashboard info section-->
<div class="row dashboard-info">
    <div class="col-lg-3 col-sm-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@ViewBag.totalorders</h3>
                <p>Total Orders</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="../Orders/OrdersHistory" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-sm-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>$@ViewBag.totalsales<sup style="font-size: 20px"></sup></h3>
                <p>Total Sales</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-sm-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@ViewBag.totalcustomers</h3>
                <p>Total Customers</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="../Customer/Customer" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-sm-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewBag.totalordercompleted</h3>
                <p>Completed Orders</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- 4 figure box -->
<!-- ui shortable -->
<div class="row">
    <!-- Left col -->
    <section class="col-lg-7 col-sm-7 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="dashboard-order-list">
            <form id="saveForm" method="post">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fas fa-table"></i>
                        <h3 class="box-title">Date Created</h3>
                        <span class="radtype_span">
                            <input class="radtype_input" id="strValue1" checked="checked" name="strValue1" type="radio" value="daily" />
                            <label for="strValue1">Daily</label>
                            <input class="radtype_input" id="strValue2" name="strValue1" type="radio" value="weekly" />
                            <label for="strValue2">Weekly</label>
                        </span>
                        <div class="pull-right box-tools">
                            <span class="btn-span">
                                <button type="button" class="btn btn-primary btn-sm" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" data-widget="collapse">
                                    <i class="fa fa-times"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="box-body with-border">
                        <h5>
                            Order Details ( Top <label id="lblorder" class="lbl-space"> @ViewBag.TotalOrder </label> Records )<span>|</span>Total Sales $<label id="lblsale">@ViewBag.TotalSale</label><span>|</span>and Total Orders
                            <label id="lblordercounting" class="lbl-space">@ViewBag.TotalOrder</label>
                        </h5>
                    </div>
                    <div class="box-body" id="content">
                        @*@Html.Partial("OrderList")*@
                    </div>
                    @Html.AntiForgeryToken()
                </div>
            </form>
            <div class="tab-content no-padding">
                <!-- Morris chart - Sales -->
                @*<div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>*@
                <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"></div>
            </div>
        </div>
        <!-- /.nav-tabs-custom -->


        <!-- Chat box -->
        <div class="box box-primary chat-box-dash">
            <div class="box-header">
                <i class="fa fad fa-comments"></i>
                <h3 class="box-title">Chat</h3>
                <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
                    <button type="button" class="btn btn-primary btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body chat" id="chat-box">
                <!-- chat item -->
                <div class="item">
                    <img src="~/Images/user4-128x128.jpg" alt="user image" class="online">

                    <p class="message">
                        <a href="#" class="name">
                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small>
                            Mike Doe
                        </a>
                        I would like to meet you to discuss the latest news about
                        the arrival of the new theme. They say it is going to be one the
                        best themes on the market
                    </p>
                    <div class="attachment">
                        <h4>Attachments:</h4>

                        <p class="filename">
                            Theme-thumbnail-image.jpg
                        </p>

                        <div class="pull-right">
                            <button type="button" class="btn btn-danger btn-sm btn-flat">Open</button>
                        </div>
                    </div>
                    <!-- /.attachment -->
                </div>
                <!-- /.item -->
                <!-- chat item -->
                <div class="item">
                    <img src="~/Images/user3-128x128.jpg" alt="user image" class="offline">

                    <p class="message">
                        <a href="#" class="name">
                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:15</small>
                            Alexander Pierce
                        </a>
                        I would like to meet you to discuss the latest news about
                        the arrival of the new theme. They say it is going to be one the
                        best themes on the market
                    </p>
                </div>
                <!-- /.item -->
                <!-- chat item -->
                <div class="item">
                    <img src="~/Images/user2-160x160.jpg" alt="user image" class="offline">

                    <p class="message">
                        <a href="#" class="name">
                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:30</small>
                            Susan Doe
                        </a>
                        I would like to meet you to discuss the latest news about
                        the arrival of the new theme. They say it is going to be one the
                        best themes on the market
                    </p>
                </div>
                <!-- /.item -->
            </div>
            <!-- /.chat -->
            <div class="box-footer">
                <div class="input-group">
                    <input class="form-control" placeholder="Type message...">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-danger"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box (chat box) -->
        <!-- quick email widget -->
        <div class="box box-primary">
            <div class="box-header">
                <i class="fa fa-envelope"></i>
                <h3 class="box-title">Quick Email</h3>
                <!-- tools box -->
                <div class="pull-right box-tools">
                    <button type="button" class="btn btn-primary btn-sm" data-widget="remove" data-toggle="tooltip"
                            title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <!-- /. tools -->
            </div>
            <div class="box-body">
                <form action="#" method="post">
                    <div class="form-group">
                        <input type="email" class="form-control" name="emailto" id="emailto" placeholder="Email to:">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                    </div>
                    <div>
                        <textarea id="content1" class="textarea" placeholder="Message"
                                  style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                    </div>
                </form>
            </div>
            <div class="box-footer clearfix">
                <button type="button" class="pull-right btn btn-danger" id="sendEmail">
                    Send
                    <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </div>
    </section>
    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 col-sm-5 connectedSortable">
        <!-- /.box -->
        <!-- solid sales graph -->
        <div class="box box-solid bg-teal-gradient">
            <div class="box-header">
                <i class="fa fa-th"></i>
                <h3 class="box-title">Sales Graph</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn bg-teal btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn bg-teal btn-sm" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body border-radius-none">
                <div class="chart" id="line-chart" style="height: 250px;">
                    <svg height="250" version="1.1" width="512" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative; left: -0.90625px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="43.8125" y="211" text-anchor="end" font-family="Open Sans" font-size="10px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;" font-weight="normal"><tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text><path fill="none" stroke="#efefef" d="M56.3125,211H487.078" stroke-width="0.4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="43.8125" y="164.5" text-anchor="end" font-family="Open Sans" font-size="10px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;" font-weight="normal"><tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">5,000</tspan></text><path fill="none" stroke="#efefef" d="M56.3125,164.5H487.078" stroke-width="0.4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="43.8125" y="118.00000000000001" text-anchor="end" font-family="Open Sans" font-size="10px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;" font-weight="normal"><tspan dy="3.500000000000014" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">10,000</tspan></text><path fill="none" stroke="#efefef" d="M56.3125,118.00000000000001H487.078" stroke-width="0.4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="43.8125" y="71.5" text-anchor="end" font-family="Open Sans" font-size="10px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;" font-weight="normal"><tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15,000</tspan></text><path fill="none" stroke="#efefef" d="M56.3125,71.5H487.078" stroke-width="0.4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="43.8125" y="25.00000000000003" text-anchor="end" font-family="Open Sans" font-size="10px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;" font-weight="normal"><tspan dy="3.5000000000000284" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">20,000</tspan></text><path fill="none" stroke="#efefef" d="M56.3125,25.00000000000003H487.078" stroke-width="0.4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="408.04326063183476" y="223.5" text-anchor="middle" font-family="Open Sans" font-size="10px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2013</tspan></text><text x="216.47561421628188" y="223.5" text-anchor="middle" font-family="Open Sans" font-size="10px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan></text><path fill="none" stroke="#efefef" d="M56.3125,186.2062C68.35090400972054,185.9458,92.42771202916161,187.775575,104.46611603888215,185.1646C116.50452004860269,182.553625,140.58132806804377,166.4743950819672,152.6197320777643,165.3184C164.52728386998785,164.17497008196722,188.342387454435,178.173325,200.24993924665856,175.9669C212.15749103888214,173.760475,235.97259462332926,149.8671487704918,247.88014641555284,147.667C259.9185504252734,145.4426737704918,283.99535844471444,155.955625,296.03376245443496,158.269C308.0721664641555,160.582375,332.1489744835966,177.16471967213116,344.1873784933171,166.174C356.09493028554067,155.30274467213115,379.91003386998784,77.67916919889502,391.8175856622114,70.8211C403.59428523693805,64.03839419889502,427.14768438639123,103.97557445054946,438.9243839611179,111.61090000000002C450.9627879708384,119.41589945054946,475.03959599027945,127.33952500000001,487.078,132.5824" stroke-width="2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="56.3125" cy="186.2062" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="104.46611603888215" cy="185.1646" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="152.6197320777643" cy="165.3184" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="200.24993924665856" cy="175.9669" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="247.88014641555284" cy="147.667" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="296.03376245443496" cy="158.269" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="344.1873784933171" cy="166.174" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="391.8175856622114" cy="70.8211" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="438.9243839611179" cy="111.61090000000002" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="487.078" cy="132.5824" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle></svg>
                    <div class="morris-hover morris-default-style" style="left: 157.25px; top: 108px; display: none;">
                        @*<div class="morris-hover-row-label">2011 Q4</div><div class="morris-hover-point" style="color: #efefef">
                            Item 1:
                            3,767
                        </div>*@
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-border">
                <div class="row">
                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                        <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"
                               data-fgColor="#39CCCC">
                        <div class="knob-label">Mail-Orders</div>
                    </div>
                    <!-- ./col -->
                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                        <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60"
                               data-fgColor="#39CCCC">
                        <div class="knob-label">Online</div>
                    </div>
                    <!-- ./col -->
                    <div class="col-xs-4 text-center">
                        <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60"
                               data-fgColor="#39CCCC">
                        <div class="knob-label">In-Store</div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-footer -->
        </div>


        <!-- /.box -->
        <!-- Calendar -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <i class="fa fa-calendar"></i>
                <h3 class="box-title">Calendar</h3>
                <!-- tools box -->
                <div class="pull-right box-tools">
                    <!-- button with a dropdown -->
                    <button type="button" class="btn btn-primary btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <!-- /. tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body calender-board">
                <!--The calendar -->
                <div class="box-calender-dash">
                    @Html.Partial("../Shared/_Calendar")
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-black">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Progress bars -->
                        <div class="clearfix">
                            <span class="pull-left">Task #1</span>
                            <small class="pull-right">90%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-primary" style="width: 90%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Task #2</span>
                            <small class="pull-right">70%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-primary" style="width: 70%;"></div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <div class="clearfix">
                            <span class="pull-left">Task #3</span>
                            <small class="pull-right">60%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-primary" style="width: 60%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Task #4</span>
                            <small class="pull-right">40%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-primary" style="width: 40%;"></div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.box -->

    </section>
    <!-- right col -->
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        loadData();
        gettotal();

        $('#sendEmail').click(function () {
            //emails();
        });
        $('#strValue1').change(function () {
            loadData();
            gettotal();
        });
        $('#strValue2').change(function () {
            loadData();
            gettotal();
        });
    });
    function loadData() {

        $.post("/Home/GetOrderList", $("#saveForm").serialize(), function (response) {
            //alert(response);
            $("#content").html(response);
        });

    }
    function gettotal() {

        var daily = $("input[name='strValue1']:checked").val();

        var obj = {
            strValue1: daily
        };
        $.ajax({
            url: '/Home/GettotalDetsils/',
            type: 'post',
            contentType: "application/json; charset=utf-8",
            dataType: 'JSON',
            data: JSON.stringify(obj),
            success: function (data) {
                var i = JSON.parse(data);
                if (parseInt(i[0].TotalOrder) > 10)
                    $("#lblorder").text('10');
                else
                    $("#lblorder").text(i[0].TotalOrder);
                $("#lblsale").text(i[0].TotalSale);
                $("#lblordercounting").text(i[0].TotalOrder);
                //$("#content").html(response);
            },
            error: function (msg) { alert(msg); }
        });

    }

    function emails() {
        debugger;
        var emails = $('#emailto').val();
        var subject = $('#subject').val();
        var content = $('#content1').val();
        var isVal = 1;
        if ($("#emailto").val() == "") {
            swal('Alert', 'Please Enter Email Address', 'error').then(function () { swal.close(); $('#emailto').focus(); });
        }
        else if ($("#subject").val() == "") {
            swal('Alert', 'Please Enter Subject', 'error').then(function () { swal.close(); $('#subject').focus(); });
        }
        else if ($("#content1").val() == "") {
            swal('Alert', 'Please Enter Message', 'error').then(function () { swal.close(); $('#content1').focus(); });
        }
        else {
            var obj = { emails: emails, subject: subject, content: content }
            $.ajax({
                url: '/AccountAPI/QuicksendEmail/',
                type: 'post',
                contentType: "application/json; charset=utf-8",
                dataType: 'JSON',
                data: JSON.stringify(obj),
                success: function (data) {
                    //$("#loading-div-background").hide();

                    swal('success!', "Email send Successfully", "success");

                    $('#emailto').val('');
                    $('#subject').val('');
                    $('#content1').val('');
                },
                error: function (errormessage) {
                    //$("#loading-div-background").hide();
                    swal('Error!', "Something went wrong .", "error");
                }
            });
        }
    }

</script>