
@{ ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml"; }

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="row d-flex align-items-center dashboard-dropy">
    <div class="col-xs-6">
        <div class="page-title">
            <h2 class="page-heading gs-open">
                Dashboard
                <span class="sub-heading" id="currentdatetime">
                </span>
            </h2>
        </div>
    </div>
    <div class="col-xs-6 col-drop-dash">
        <div class="dropdown item pull-right">
            <a aria-expanded="true" aria-haspopup="true" class="dropdown-toggle btn btn-default manage-wig-dash" data-toggle="dropdown" href="#">Manage widgets</a>
            <ul class="dash-drop-menu dropdown-menu dropdown-menu-right widget-dropdown toggling-dropdown">
                <li class="dropdown-header">Small widgets</li>
                <li data-widget="earned_week" data-widget-style="small" class="is-on"><a class="d-flex icon-link" href="#">Earned this week</a></li>
                <li data-widget="earned_today" data-widget-style="small"><a class="d-flex icon-link" href="#">Earned today</a></li>
                @* <li data-widget="projects_worked" data-widget-style="small" class="is-on"><a class="d-flex icon-link" href="#">Projects worked</a></li>
                    <li data-widget="today_activity" data-widget-style="small"><a class="d-flex icon-link" href="#">Today's Activity</a></li>
                    <li data-widget="activity" data-widget-style="small" class="is-on"><a class="d-flex icon-link" href="#">Weekly Activity</a></li>
                    <li data-widget="this_week_total" data-widget-style="small" class="is-on"><a class="d-flex icon-link" href="#">Worked this week</a></li>
                    <li data-widget="worked_today" data-widget-style="small"><a class="d-flex icon-link" href="#">Worked today</a></li>
                    <li class="li-hr"></li>
                    <li class="dropdown-header">Large widgets</li>
                    <li data-widget="apps_urls" data-widget-style="large" class="is-on"><a class="d-flex icon-link" href="#">Apps &amp; URLs</a></li>
                    <li data-widget="missed_shifts" data-widget-style="large"><a class="d-flex icon-link" href="#">Late &amp; Missed Shifts</a></li>
                    <li data-widget="manual_time_log" data-widget-style="large"><a class="d-flex icon-link" href="#">Manual Time</a></li>
                    <li data-widget="past_payments" data-widget-style="large"><a class="d-flex icon-link" href="#">Payments</a></li>
                    <li data-widget="projects" data-widget-style="large" class="is-on"><a class="d-flex icon-link" href="#">Projects</a></li>
                    <li data-widget="my_recent_activity" data-widget-style="large" class="is-on"><a class="d-flex icon-link" href="#">Recent activity</a></li>
                    <li data-widget="this_week" data-widget-style="large" class="is-on"><a class="d-flex icon-link" href="#">This week</a></li>
                    <li data-widget="time_off_balances" data-widget-style="large"><a class="d-flex icon-link" href="#">Time off balances</a></li>
                    <li data-widget="time_off_requests" data-widget-style="large"><a class="d-flex icon-link" href="#">Time off requested</a></li>
                    <li data-widget="timesheet" data-widget-style="large" class="is-on"><a class="d-flex icon-link" href="#">Timesheet</a></li>
                    <li data-widget="tasks" data-widget-style="large" class="is-on"><a class="d-flex icon-link" href="#">To-dos</a></li>*@
            </ul>
        </div>
    </div>
</div>


<!--dashboard info section-->
<div class="row dashboard-info">
    <div class="col-lg-3 col-sm-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@ViewBag.totalorders</h3>
                <p>Total Orders</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="../Orders/OrdersHistory" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-sm-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>$@ViewBag.totalsales<sup style="font-size: 20px"></sup></h3>
                <p>Total Sales</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-sm-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@ViewBag.totalcustomers</h3>
                <p>Total Customers</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="../Customer/Customer" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-sm-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewBag.totalordercompleted</h3>
                <p>Completed Orders</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- 4 figure box -->
<!-- ui shortable -->
<div class="row">
    <!-- Left col -->
    <section class="col-lg-7 col-sm-7 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="dashboard-order-list">
            <form id="saveForm" method="post">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fas fa-table"></i>
                        <h3 class="box-title">Date Created</h3>
                        <span class="radtype_span">
                            <input class="radtype_input" id="strValue1" checked="checked" name="strValue1" type="radio" value="daily" />
                            <label for="strValue1">Daily</label>
                            <input class="radtype_input" id="strValue2" name="strValue1" type="radio" value="weekly" />
                            <label for="strValue2">Weekly</label>
                        </span>
                        <div class="pull-right box-tools">
                            <span class="btn-span">
                                <button type="button" class="btn btn-primary btn-sm" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="box-body with-border">
                        <h5>
                            Order Details ( Top <label id="lblorder" class="lbl-space"> @ViewBag.TotalOrder </label> Records )<span>|</span>Total Sales $<label id="lblsale">@ViewBag.TotalSale</label><span>|</span>and Total Orders
                            <label id="lblordercounting" class="lbl-space">@ViewBag.TotalOrder</label>
                        </h5>
                    </div>
                    <div class="box-body" id="content">
                        @*@Html.Partial("OrderList")*@
                    </div>
                    @*@Html.AntiForgeryToken()*@
                </div>
            </form>
            <div class="tab-content no-padding">
                <!-- Morris chart - Sales -->
                @*<div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>*@
                <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"></div>
            </div>
        </div>
        <!-- /.nav-tabs-custom -->
        <!-- Chat box -->
        <!-- /.box (chat box) -->
        <!-- quick email widget -->
        <div class="box box-primary">
            <div class="box-header">
                <i class="fa fa-envelope"></i>
                <h3 class="box-title">Quick Email</h3>
                <!-- tools box -->
                <div class="pull-right box-tools">
                    <button type="button" class="btn btn-primary btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" data-widget="remove" data-toggle="tooltip"
                            title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <!-- /. tools -->
            </div>
            <div class="box-body">
                <form action="#" method="post">
                    <div class="form-group">
                        <input type="email" class="form-control" name="emailto" id="emailto" placeholder="Email to:">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                    </div>
                    <div>
                        <textarea id="content1" class="textarea" placeholder="Message"
                                  style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                    </div>
                </form>
            </div>
            <div class="box-footer clearfix">
                <button type="button" class="pull-right btn btn-danger" id="sendEmail">
                    Send
                    <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </div>
    </section>
    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 col-sm-5 connectedSortable">
        <!-- /.box -->
        <!-- solid sales graph -->
        <div class="box box-solid bg-teal-gradient">
            <div class="box-header">
                <i class="fa fa-th"></i>
                <h3 class="box-title">Sales Graph</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn bg-teal btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn bg-teal btn-sm" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body border-radius-none">
                <div class="chart" id="line-chart" style="height: 250px;">
                    @*<div id="chart_div" style="width: 600px; height: 240px;"></div>*@
                    <div id="saleschart" style="width: 500px; height: 240px;">
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            @*<div class="box-footer no-border">
                <div class="row">
                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                        <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"
                               data-fgColor="#39CCCC">
                        <div class="knob-label">Mail-Orders</div>
                    </div>
                    <!-- ./col -->
                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                        <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60"
                               data-fgColor="#39CCCC">
                        <div class="knob-label">Online</div>
                    </div>
                    <!-- ./col -->
                    <div class="col-xs-4 text-center">
                        <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60"
                               data-fgColor="#39CCCC">
                        <div class="knob-label">In-Store</div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- /.row -->
            </div>*@
            <!-- /.box-footer -->
        </div>


        <!-- /.box -->
        <!-- Calendar -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <i class="fa fa-calendar"></i>
                <h3 class="box-title">Calendar</h3>
                <!-- tools box -->
                <div class="pull-right box-tools">
                    <!-- button with a dropdown -->
                    <button type="button" class="btn btn-primary btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <!-- /. tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body calender-board">
                <!--The calendar -->
                <div class="box-calender-dash">
                    @Html.Partial("../Shared/_Calendar")
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-black">
                @*<div class="row">
                    <div class="col-sm-6">
                        <!-- Progress bars -->
                        <div class="clearfix">
                            <span class="pull-left">Task #1</span>
                            <small class="pull-right">90%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-primary" style="width: 90%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Task #2</span>
                            <small class="pull-right">70%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-primary" style="width: 70%;"></div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <div class="clearfix">
                            <span class="pull-left">Task #3</span>
                            <small class="pull-right">60%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-primary" style="width: 60%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Task #4</span>
                            <small class="pull-right">40%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-primary" style="width: 40%;"></div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>*@
                <!-- /.row -->
            </div>
        </div>
        <!-- /.box -->
        
    </section>
    <!-- right col -->
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        loadData();
        gettotal();

        $('#sendEmail').click(function () {
            //emails();
        });
        $('#strValue1').change(function () {
            loadData();
            gettotal();
        });
        $('#strValue2').change(function () {
            loadData();
            gettotal();
        });
    });
    function loadData() {

        $.post("/Home/GetOrderList", $("#saveForm").serialize(), function (response) {
            //alert(response);
            $("#content").html(response);
        });

    }
    function gettotal() {

        var daily = $("input[name='strValue1']:checked").val();

        var obj = {
            strValue1: daily
        };
        $.ajax({
            url: '/Home/GettotalDetsils/',
            type: 'post',
            contentType: "application/json; charset=utf-8",
            dataType: 'JSON',
            data: JSON.stringify(obj),
            success: function (data) {
                var i = JSON.parse(data);
                if (parseInt(i[0].TotalOrder) > 10)
                    $("#lblorder").text('10');
                else
                    $("#lblorder").text(i[0].TotalOrder);
                $("#lblsale").text(i[0].TotalSale);
                $("#lblordercounting").text(i[0].TotalOrder);
                //$("#content").html(response);
            },
            error: function (msg) { alert(msg); }
        });

    }

    function emails() {
        debugger;
        var emails = $('#emailto').val();
        var subject = $('#subject').val();
        var content = $('#content1').val();
        var isVal = 1;
        if ($("#emailto").val() == "") {
            swal('Alert', 'Please Enter Email Address', 'error').then(function () { swal.close(); $('#emailto').focus(); });
        }
        else if ($("#subject").val() == "") {
            swal('Alert', 'Please Enter Subject', 'error').then(function () { swal.close(); $('#subject').focus(); });
        }
        else if ($("#content1").val() == "") {
            swal('Alert', 'Please Enter Message', 'error').then(function () { swal.close(); $('#content1').focus(); });
        }
        else {
            var obj = { emails: emails, subject: subject, content: content }
            $.ajax({
                url: '/AccountAPI/QuicksendEmail/',
                type: 'post',
                contentType: "application/json; charset=utf-8",
                dataType: 'JSON',
                data: JSON.stringify(obj),
                success: function (data) {
                    //$("#loading-div-background").hide();

                    swal('success!', "Email send Successfully", "success");

                    $('#emailto').val('');
                    $('#subject').val('');
                    $('#content1').val('');
                },
                error: function (errormessage) {
                    //$("#loading-div-background").hide();
                    swal('Error!', "Something went wrong .", "error");
                }
            });
        }
    }

</script>

@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
@*<script type="text/javascript" src="https://www.google.com/jsapi"></script>*@
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    //google.charts.load("current", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        $.ajax({
            type: "POST",
            url: "/Home/SalesGraph/",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                var data = google.visualization.arrayToDataTable(r);


                var options = {
                    title: 'Sales',
                    is3D: true,
                    
                };
                var chart = new google.visualization.LineChart($("#saleschart")[0]);
                chart.draw(data, options);
            },
            failure: function (r) {
                alert(r.d);
            },
            error: function (r) {
                alert(r.d);
            }
        });
    }
</script>

<script>

    //var myDate = new Date();
    //var pstDate = myDate.toLocaleString("en-US", { timeZone: "America/Los_Angeles" });
    setInterval(function () {
    let d = new Date();
    let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
    let localTime = d.getTime();
    let localOffset = d.getTimezoneOffset() * 60000;
    let utc = localTime + localOffset;
    let target_offset = -7;//PST from UTC 7 hours behind right now, will need to fix for daylight
    let los_angles = utc + (3600000 * target_offset);
    nd = new Date(los_angles);
    let current_day = nd.getDay();
    let hours = nd.getHours();
    let mins = nd.getMinutes();
    document.getElementById("currentdatetime").innerHTML = nd.toLocaleString('en-US', options);
    }, 1000);
</script>