@model dynamic
<div class="table-responsive dash-table">
    @if (ViewData.Model == null)
    {
    <table class="table-blue table check-table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer Name</th>
                <th>Status</th>
                <th>Date Created</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5" align="center">No Any Order For Today.</td>
            </tr>
        </tbody>
    </table>
    }
    else
    {
        <table class="table-blue table check-table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer Name</th>
                    <th>Status</th>
                    <th>Date Created</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in ViewData.Model)
                {
                    <tr>
                        <td> @record["order_id"]</td>
                        <td> @record["FirstName"]</td>
                        <td> @record["status"]</td>
                        <td> @record["date_created"]</td>
                        <td> @record["total_sales"]</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<script src="~/js/common.js"></script>

