@{
    var user = LaylaERP.UTILITIES.CommanUtilities.Provider.GetCurrent();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/Images/varient_pic.png">
    <title>Layla ERP - @ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- Font Awesome -->
    <link href="~/Content/AdminLTE-3.1.0/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- icheck bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/AdminLTE-3.1.0/adminlte.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE-3.1.0/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/dx/dx.light.css" rel="stylesheet" />
    <link href="~/Content/alert/sweetalert2.min.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="~/Content/AdminLTE-3.1.0/jquery/jquery.min.js"></script>
    <script src="~/Content/alert/sweetalert2.all.min.js"></script>
    <!--Css for export table-->
    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/select.dataTables.min.css" rel="stylesheet" />

    <link href="~/css/layoutStyle.css" rel="stylesheet" />
    <script type="text/javascript">
        jQuery.browser = {};
        (function () {
            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                jQuery.browser.msie = true;
                jQuery.browser.version = RegExp.$1;
            }
        })();
    </script>
</head>
<body>
    <div class="wrapper" style="height: auto; min-height: 100%;">
        <div class="clearfix"></div>
        <!-- Content Wrapper. Contains page content -->
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>



    <!-- Bootstrap 4 -->

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/AdminLTE-3.1.0/adminlte.min.js"></script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/DataTables/dataTables.select.min.js"></script>


    <script src="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="~/Content/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/js/buttons.html5.min.js"></script>
    <script src="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/js/buttons.print.min.js"></script>
    <script src="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/js/buttons.colVis.min.js"></script>
    <link href="~/Content/DataTables/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/Content/DataTables/bootstrap-datepicker.js"></script>

    @RenderSection("scripts", required: false)

    <!-- jQuery -->
    <!-- AdminLTE App -->
    <script src="~/Content/dx/dx.all.js"></script>
    <script>
        var GetUserID = parseInt('@(user.UserID)') || 0;
        $(document).ready(function () {
        });
    </script>
</body>
</html>
