@{
    Dictionary<string, string> _type = LaylaERP.Models.qfk.Enums.Criteria.CriteriaType();
}
<div id="root">
    <!-- start page title -->
    <div class="row border-bottom">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <div>
                    <ol class="breadcrumb m-0 font-size-18">
                        <li class="breadcrumb-item"><a href="/lists/index">Lists & Segments</a></li>
                        <li class="breadcrumb-item">Create Segment</li>
                    </ol>
                </div>
                <div class="page-title-right">
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <form id="form" class="row needs-validation" novalidate>
        <div class="col-xl-12">
            <p>Segments allow you to track and analyze people who meet certain conditions</p>
            <div class="row mb-4">
                <div class="col-lg-8">
                    <div>
                        <label class="form-label">
                            Name
                        </label>
                        <input id="txtlist-name" class="form-control" type="text" placeholder="Segment Name">
                    </div>
                </div>
            </div>

            <div>
                <span class="h4_title">Definition</span>
                <div id="definition">
                    @*<div class="definition__container mb-2">
                            <div class="card card-body mb-2">
                                <div class="definition-row d-flex">
                                    <div class="definition-col flex-grow-1">
                                        <div class="CriterionTypeSelectm cw-400 mb-2">
                                            <select name="type" class="select2" style="width:100%">
                                                <option value="" selected>Select a condition…</option>
                                                @foreach (var t in _type)
                                                {
                                                    <option value="@t.Key">@t.Value</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="definition-col-action">
                                        <button name="remove-definition" type="button" class="btn btn-outline-primary waves-effect waves-light"><i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button name="add-definition" class="btn btn-outline-primary waves-effect waves-light"><i class="fas fa-plus"></i> AND</button>
                        </div>*@

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-end">
                    <a data-add="false" href="~/lists/index" class="btn btn-primary">Cancel</a>
                    <button id="create-Segments" class="btn btn-primary" data-company-key="@ViewBag.api_key">Create Segment</button>
                </div>
            </div>
        </div>
    </form>

</div>
@*<script async src="@Url.Content("~/js/qfk/lists/segment.js?v=" + DateTime.Now.ToString("ddMMyyyymmss"))" asp-append-version="true"></script>*@
<script type="module">
    import segment from '@Url.Content("~/js/qfk/lists/segment.js?v=" + DateTime.Now.ToString("ddMMyyyymmss"))';
    segment();
</script>