@model System.Data.DataTable
@{
    ViewBag.Title = "Metric";
    Layout = "~/Views/Shared/_qfk_Layout.cshtml";
}
<link href="~/Content/AdminLTE-3.1.0/daterangepicker/daterangepicker.css" rel="stylesheet" />
<!-- DataTables -->
<link href="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
<!-- datatables js -->
<script src="~/Content/AdminLTE-3.1.0/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>

<style>
    .page-content-tab {
        padding: 70px 0 60px 0;
    }
</style>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between py-2">
            <div class="col-md-4">
                <select id="metrics" class="select2" style="width:100%" data-profileid="@ViewBag.id">
                    @foreach (System.Data.DataRow dr in @Model.Rows)
                    {
                        if (dr["metric_id"].ToString().Equals(ViewBag.id))
                        {
                            <option value="@dr["metric_id"]" selected="selected">@dr["metric_name"]</option>
                        }
                        else
                        {
                            <option value="@dr["metric_id"]">@dr["metric_name"]</option>
                        }
                    }
                </select>
            </div>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Analytics</a></li>
                    <li class="breadcrumb-item active"><a href="/analytics/metrics">Metrics</a></li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent border-bottom">
                <ul class="nav nav-tabs nav-tabs-custom card-header-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#post-chart" role="tab" aria-selected="true" tabindex="-1">
                            Chart
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#post-activity-feed" role="tab" aria-selected="false">
                            Activity feed
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#post-cohorts" role="tab" aria-selected="false">
                            Cohorts
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#post-best-people" role="tab" aria-selected="false">
                            Best people
                        </a>
                    </li>
                    <!-- <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#post-activity-map" role="tab" aria-selected="false">
                            Activity map
                        </a>
                    </li>-->
                </ul>
            </div>
            <div class="card-body">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active show" id="post-chart" role="tabpanel">
                        <div class="row border-bottom">
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="formrow-email-input" class="form-label">Date range</label>
                                    <input type="text" class="form-control" id="date-range" placeholder="Date range">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label class="form-label">View by</label>
                                    <select id="view-by" class="form-select">
                                        <option value="daily">Daily</option>
                                        <option value="monthly">Monthly</option>
                                        <option value="yearly">Yearly</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-light waves-light float-end"><i class="fas fa-sync"></i></button>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div id="metrics-chart" class="apex-charts"></div>
                            <span class="stl-flex stl-items-center stl-space-x-1 stl-display-caption stl-typo-subdued stl-mt-4">
                                <i class="fas fa-info-circle"></i>
                                <span>Default timezone is UTC</span>
                            </span>
                        </div>
                    </div>
                    <!-- end tab pane -->

                    <div class="tab-pane" id="post-activity-feed" role="tabpanel">
                        <div class="row mt-3">
                            <table id="feeds" class="table dt-responsive w-100 align-middle">
                            </table>
                        </div>
                    </div>
                    <!-- end tab pane -->

                    <div class="tab-pane" id="post-cohorts" role="tabpanel">
                    </div>
                    <!-- end tab pane -->

                    <div class="tab-pane" id="post-best-people" role="tabpanel">
                        <div class="row mt-3">
                            <table id="persons" class="table dt-responsive w-100 align-middle">
                            </table>
                        </div>
                    </div>
                    <!-- end tab pane -->
                    <!--<div class="tab-pane" id="post-activity-map" role="tabpanel">
                    </div>-->
                    <!-- end tab pane -->
                </div>
                <!-- end tab content -->
            </div>
        </div>
    </div>
</div>

<div id="raw_data_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Activity Details</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    This activity was timestamped <span class="raw_data_time fw-bold"></span> and was recorded on <span class="raw_data_time fw-bold"></span>.
                    Here is the activity data:
                </div>
                <div class="raw_data_json">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script src="~/Content/AdminLTE-3.1.0/daterangepicker/daterangepicker.js"></script>
<script src="~/Content/qfk/apexcharts/apexcharts.min.js"></script>
<script async src="@Url.Content("~/js/qfk/analytics/metricdetail.js?v=" + DateTime.Now.ToString("ddMMyyyymmss"))" asp-append-version="true"></script>
