@{
    var user = LaylaERP.UTILITIES.CommanUtilities.Provider.GetCurrent();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/Images/layla32.png">
    <title>Layla ERP - @ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- Font Awesome -->
    <link href="~/Content/AdminLTE-3.1.0/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"/>
    <!-- icheck bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/AdminLTE-3.1.0/adminlte.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE-3.1.0/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/dx/dx.light.css" rel="stylesheet" />
    <link href="~/Content/alert/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE-3.1.0/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE-3.1.0/select2/select2.min.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/css/layoutStyle.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="~/Content/AdminLTE-3.1.0/jquery/jquery.min.js"></script>
    <script src="~/Content/alert/sweetalert2.all.min.js"></script>
    <script src="~/Content/AdminLTE-3.1.0/select2/select2.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Content/AdminLTE-3.1.0/daterangepicker/moment.min.js"></script>
    <script src="~/Content/AdminLTE-3.1.0/daterangepicker/daterangepicker.js"></script>
</head>
<body>
    <div class="wrapper" style="height: auto; min-height: 100%;">
        <div class="clearfix"></div>
        <!-- Content Wrapper. Contains page content -->
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- jQuery -->
    <!-- AdminLTE App -->
    <script src="~/Content/dx/dx.all.js"></script>
    <script>
        var GetUserID = parseInt('@(user.UserID)') || 0;
        $(document).ready(function () {
        });
        @RenderSection("scripts", required: false)
    </script>
</body>
</html>
